.header {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 2px 21px -9px rgba(0, 0, 0, 0.75);
  font-weight: 500;
}

.link {
  color: black;
  transition: color box-shadow ease 150ms;
  transition: box-shadow ease 150ms;
}

.link:hover,
.link:focus {
  box-shadow: 0px 2px 21px -9px rgba(0, 0, 0, 0.75);
}

.active {
  color: red;
}

.link:not(:last-child) {
  margin-right: 15px;
}

.link:hover:not(.active),
.link:focus:not(.active) {
  color: rgb(180, 0, 0);
}
